*.pyc
__pycache__
myvenv
virtualan
db.sqlite3
.DS_Store
activate.bat
Activate.ps1
deactivate.bat
django-admin.exe
django-admin.py
easy_install-3.5.exe
easy_install.exe
lista.txt
pip.exe
pip3.5.exe
pip3.exe
pyexpat.pyd
python.exe
python3.dll
python35.dll
pythonw.exe
select.pyd
sqlite3.dll
tcl86t.dll
tk86t.dll
unicodedata.pyd
vcruntime140.dll
winsound.pyd
_bz2.pyd
_ctypes.pyd
_ctypes_test.pyd
_decimal.pyd
_elementtree.pyd
_hashlib.pyd
_lzma.pyd
_msi.pyd
_multiprocessing.pyd
_overlapped.pyd
_socket.pyd
_sqlite3.pyd
_ssl.pyd
_testbuffer.pyd
_testcapi.pyd
_testimportmultiple.pyd
_testmultiphase.pyd
_tkinter.pyd